NET sys_clk_in_ TNM_NET = "sys_clk_in_";
TIMESPEC "TSSYSCLK" = PERIOD "sys_clk_in_" 9.9 ns HIGH 50 %;

NET sys_clk_in_ LOC = AE14;
NET sys_clk_in_ IOSTANDARD = LVCMOS33;

#NET trx LOC = W1;
NET sram_clk_ LOC = AF7 ;

#NET sram_flash_addr_[24] LOC = T21;
#NET sram_flash_addr_[23] LOC = U20;
#NET sram_flash_addr_[22] LOC = T19;
NET sram_flash_addr_[20] LOC = AC5;
NET sram_flash_addr_[19] LOC = AB5;
NET sram_flash_addr_[18] LOC = AC4;
NET sram_flash_addr_[17] LOC = AB4;
NET sram_flash_addr_[16] LOC = AB3;
NET sram_flash_addr_[15] LOC = AA4;
NET sram_flash_addr_[14] LOC = AA3;
NET sram_flash_addr_[13] LOC = W5;
NET sram_flash_addr_[12] LOC = W6;
NET sram_flash_addr_[11] LOC = W3;
NET sram_flash_addr_[10] LOC = AF3;
NET sram_flash_addr_[9] LOC = AE3;
NET sram_flash_addr_[8]  LOC = AD2;
NET sram_flash_addr_[7]  LOC = AD1;
NET sram_flash_addr_[6]  LOC = AC2;
NET sram_flash_addr_[5]  LOC = AC1;
NET sram_flash_addr_[4]  LOC = AB2;
NET sram_flash_addr_[3]  LOC = AB1;
NET sram_flash_addr_[2]  LOC = AA1;
NET sram_flash_addr_[1]  LOC = Y2;
NET sram_flash_addr_[0]  LOC = Y1;
#NET sram_flash_addr_[0]  LOC = T20;

NET sram_flash_data_[15] LOC = AA14;
NET sram_flash_data_[14] LOC = AB14;
NET sram_flash_data_[13] LOC = AC12;
NET sram_flash_data_[12] LOC = AC11;
NET sram_flash_data_[11] LOC = AA16;
NET sram_flash_data_[10] LOC = AA15;
NET sram_flash_data_[9]  LOC = AB13;
NET sram_flash_data_[8]  LOC = AA13;
NET sram_flash_data_[7]  LOC = AC14;
NET sram_flash_data_[6]  LOC = AD14;
NET sram_flash_data_[5]  LOC = AA12;
NET sram_flash_data_[4]  LOC = AA11;
NET sram_flash_data_[3]  LOC = AC16;
NET sram_flash_data_[2]  LOC = AC15;
NET sram_flash_data_[1]  LOC = AC13;
NET sram_flash_data_[0]  LOC = AD13;

NET sram_flash_oe_n_     LOC = AC6;
NET sram_flash_we_n_     LOC = AB6;

NET sram_bw_[3]          LOC = Y3; #Y4; 
NET sram_bw_[2]          LOC = Y4; #Y3;
NET sram_bw_[1]          LOC = Y5; #Y6;
NET sram_bw_[0]          LOC = Y6; #Y5;

NET sram_cen_            LOC = V7;

NET flash_ce2_      LOC = W7;

#NET flash_byte_n   LOC = N22;
#NET flash_audio_reset_n LOC = AD10;

NET tft_lcd_clk_   LOC = AF8;
NET tft_lcd_r_     LOC = E6;  # VGA_R7
NET tft_lcd_g_     LOC = C1;  # VGA_G7
NET tft_lcd_b_     LOC = F8;  # VGA_B7
NET tft_lcd_hsync_ LOC = C10;
NET tft_lcd_vsync_ LOC = A8;

NET tft_lcd_clk_  SLEW = FAST;
NET tft_lcd_clk_  DRIVE = 8;

NET tft_lcd_r_ SLEW = FAST;
NET tft_lcd_r_ DRIVE = 8;

NET tft_lcd_g_ SLEW = FAST;
NET tft_lcd_g_ DRIVE = 8;

NET tft_lcd_b_ SLEW = FAST;
NET tft_lcd_b_ DRIVE = 8;

NET tft_lcd_hsync_ SLEW = FAST;
NET tft_lcd_hsync_ DRIVE = 8;

NET tft_lcd_vsync_ SLEW = FAST;
NET tft_lcd_vsync_ DRIVE = 8;

NET e_  LOC = AE13 | IOSTANDARD = LVCMOS33 | TIG; # LCD_E
NET rs_ LOC = AC17 | IOSTANDARD = LVCMOS33 | TIG; # LCD_RS
NET rw_ LOC = AB17 | IOSTANDARD = LVCMOS33 | TIG; # LCD_RW

NET db_[7] LOC = AF12 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB7
NET db_[6] LOC = AE12 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB6
NET db_[5] LOC = AC10 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB5
NET db_[4] LOC = AB10 | IOSTANDARD = LVCMOS33 | TIG; # LCD_DB4

#NET leds_[0]  LOC = G5;  #GPLED0
#NET leds_[1]  LOC = G6;  #GPLED1
#NET leds_[2]  LOC = A11; #GPLED2
#NET leds_[3]  LOC = A12; #GPLED3

# North-East-South-West-Center LEDs
#NET leds_[4]  LOC = C6;  # C LED
#NET leds_[5]  LOC = F9;  # W LED
#NET leds_[6]  LOC = A5;  # S LED
#NET leds_[7]  LOC = E10; # E LED
#NET leds_[8]  LOC = E2;  # N LED